.table-header
{
    font-size: 20px;
}

.medical-card
{
    background-color: rgba(82, 103, 125, 0.20);
    display: flex;
    width: 250px;
    height: 103px;
    padding: 10px;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    gap: "9px";
    border-radius: 10px
}

.card-details
{
    /* padding-left: 100px; */
}
.classic-button
{
height: 40px;
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius:10px;
  background: var(--button-back-color);;
  color:#FFF;
  font-family:var(--heading-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal

}


.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.form-title
{
  font-weight: bold;
  font-family: Lora;
}

@media (max-width: 1024px) {
  /* Two-column form */
  .form-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  /* One-column form */
  .form-grid {
    grid-template-columns: 1fr;
  }
}